<div class="main__right">
    <h2><img loading="lazy" src="~/../assets/images/icon-doc.svg" alt="icon doc"> {{coreConstante.Titulos.VerBoletasPago}}</h2>
    <app-alerta *ngIf="warning.length > 0" [msg]="warning"></app-alerta>


    <div class="detail">
        <div class="container mb-3">
            <div class="row mb-1">
                <div class="col-sm form__right">
                    <b style="color: var(--second-color);" >Tipo Documento</b>
                    <select  id="slc-tipodocumento"  class="form-control rounded-pill ng-pristine ng-valid ng-touched" 
                        [(ngModel)]="idTipoDocumento" (change)="tipoDocSelectChange()" 
                        [disabled]="consultaExitosa">
                        <option value="0">Seleccione</option>
                        @for (tipoDocumento of tiposDocumentoIdentidad; track $index) {
                        <option value="{{tipoDocumento.IdTipoDocumento}}">{{tipoDocumento.DescripcionTipoDocumento}}</option>
                        }
                    </select>
                </div>
                <div class="col-sm">
                    <b>Número de Documento</b>
                    <input [(ngModel)]="numeroDocumento" id="txt-numero" type="text"
                            (keypress)="dniNumberOnly($event)" class="form-control rounded-pill" 
                        [disabled]="cabecera != null || idTipoDocumento == '0'" [maxlength]="coreConstante.TipoDocumentoLenght.Otro"/>
                </div>
                <div class="col-sm">
                    <b>&nbsp; </b>
                    <div class="info__print info__print_search">
                        @if(cabecera == null){
                            <a (click)="listarBoletas()" class="bton bton-second"><img
                                src="~/../assets/images/lupa-buscador.svg" class="print-desktop"
                                alt="buscar"> <span>Buscar</span></a>
                        }
                        @else{
                            <a (click)="limpiarCampos()" class="bton bton-second"><span>Nueva busqueda</span></a>
                        }                    
                    </div>
                </div>
            </div>
        </div>

        @if(cabecera != null && warning.length == 0){
        <app-usuario [mostrarImprimir]="true" (printHandler)="onClickPrint()" [nombreCompleto]="nombreCompleto"
            [tipoDocumento]="tipoDocumento" [numeroDocumento]="numeroDocumento"></app-usuario>
        <div class="detail__page">
            <app-fechas [fechaconsulta]="fechaconsulta"></app-fechas>
            <h3>Detalle de pago por régimen</h3>
            <ul style="list-style-position: outside;">
                <li style="line-height: 1.5; color: var(--black-color); font-weight: normal;">Si perteneces al Régimen
                    19990, ten en cuenta que el pago de pensiones <span class="text-yellow"><b>se efectúa por mes
                            adelantado</b></span>, en aplicación del artículo 66° de su reglamento modificado por el
                    Decreto Supremo N° 10-76-TR.</li>
                <li style="line-height: 1.5; color: var(--black-color); font-weight: normal;">Si perteneces al Régimen
                    18846, también el pago de pensiones <span class="text-yellow"><b>se efectúa por mes
                            adelantado</b></span>, por ampliación del reglamento.</li>
            </ul>
            <div class="form-row no-gutters">
                <div class="col-lg-4 col-md-4 form__right">
                    <select class="form-control rounded-pill" (change)='onChangeListarRegimen()'
                        [(ngModel)]="idRegimen">
                        <ng-container *ngFor="let item of DetalleRegimenes">
                            <option *ngIf="item.Regimen =='20530'" [value]="item.Regimen">Otro régimen administrado por
                                la ONP</option>
                            <option *ngIf="item.Regimen !='20530'" [value]="item.Regimen">Régimen {{item.Regimen}}
                            </option>
                        </ng-container>

                    </select>
                </div>
            </div>            

            <div class="table__regimen d-movil">
                <ng-container *ngFor="let item of ListaBoletasPagos">
                    <ng-container *ngFor="let item2 of item">

                        <div class="detail__row" style="grid-template-columns:none;">
                            <table class="table">
                                <tr>
                                    <td class="title-column">Entidad</td>
                                    <td class="table__items_td">{{item2.desEntRepago}}</td>
                                </tr>
                                <tr>
                                    <td class="title-column">Mes - Año</td>
                                    <td class="table__items_td">{{item2.desEmision}}</td>
                                </tr>
                                <tr>
                                    <td class="title-column">Monto bruto</td>
                                    <td class="table__items_td">{{item2.simbMoneda}} {{item2.montoPagoBruto}}</td>
                                </tr>
                                <tr>
                                    <td class="title-column">Monto neto</td>
                                    <td class="table__items_td">{{item2.simbMoneda}} {{item2.montoPagoNeto}}</td>
                                </tr>
                                <tr>
                                    <td class="title-column">Estado de pago</td>
                                    <td class="table__items_td" *ngIf="item2.inConsPago=='1'">{{item2.estPago}}</td>
                                    <td class="table__items_td" *ngIf="item2.inConsPago!='1'">EMITIDO</td>
                                </tr>
                                <tr>
                                    <td class="title-column">Detalle de pago</td>
                                    <td class="table__items_td" *ngIf="item2.inConsPago=='1'">
                                        <a style="cursor: pointer; text-decoration: none; color: white;"
                                            class="bton bton-second" (click)="onClickdescargaPDF(item2);">Descargar</a>
                                    </td>
                                    <td class="table__items_td" *ngIf="item2.inConsPago!='1'">{{item2.fechaReintegro}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ng-container>
                </ng-container>

            </div>

            <div class ="d-desktop">
                <table class="table-app">
                    <thead>
                        <tr>
                            <th style="text-align: left; background-color: var(--second-color) !important; 
                                        font-weight: normal !important; padding-top: 0.3rem; padding-bottom: 0.3rem;" 
                                colspan=6>
                                <span style="margin-left: 1.5rem;"><b>Régimen:</b> {{DetalleRegimenesFilter[0].Regimen}}</span>
                                <span style="margin-left: 1.5rem;"><b>Cuenta:</b> {{DetalleRegimenesFilter[0].DetalleRegimenCuentas[0].Cuenta}}</span>
                                <span style="margin-left: 1.5rem;"><b>Prestación:</b> {{DetalleRegimenesFilter[0].DetalleRegimenCuentas[0].Prestacion}}</span>
                            </th>
                        </tr>
                        <tr>
                            <th>Entidad</th>
                            <th>Mes - Año</th>
                            <th>Monto bruto</th>
                            <th>Monto neto</th>
                            <th>Estado de pago</th>
                            <th>Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of ListaBoletasPagos; track $index) {
                            @for (subItem of item; track $index) {
                                <tr>
                                    <td>{{subItem.desEntRepago}}</td>
                                    <td style="text-align: center;">{{subItem.desEmision}}</td>
                                    <td>{{subItem.simbMoneda}} {{subItem.montoPagoBruto}}</td>
                                    <td>{{subItem.simbMoneda}} {{subItem.montoPagoNeto}}</td>
                                    <td><span *ngIf="subItem.inConsPago=='1'">{{subItem.estPago}}</span></td>
                                    <td style="text-align: center !important;"><span *ngIf="subItem.inConsPago=='1'"><img style="cursor:pointer;"
                                        (click)="onClickdescargaPDF(subItem);"
                                        src="~/../assets/images/icon-download.svg" alt="download"></span>
                                        <span *ngIf="subItem.inConsPago!='1'">EMITIDO</span>
                                        <span *ngIf="subItem.inConsPago!='1'">{{subItem.fechaReintegro}}</span>
                                    </td>
                                </tr>
                            }
                            
                        }
                    </tbody>
 
            </table>
            </div>

        </div>
        }
    </div>
</div>