<section class="zone inicio-layout">
    <app-header></app-header>
    <section class="wrapper__main">
        <div class="main__menu">
            <h2>TUS OPERACIONES</h2>
            <div class="menu__side">
                <div class="side__item">
                    <h3 class="title-servicios"><img loading="lazy" src="./../../assets/images/icon-home-menu.svg" alt="icon doc"> Servicios Disponibles</h3>
                    <ul id="ulMenu">
                        <li class="ul-menu-li" [id]="coreConstant.Rutas.boletasDePago"
                            ><a (click)="navigateTo(coreConstant.Rutas.boletasDePago)">- Boletas de Pago</a></li>
                        <li class="ul-menu-li" [id]="coreConstant.Rutas.resoluciones"
                            ><a (click)="navigateTo(coreConstant.Rutas.resoluciones)">- Resoluciones</a></li>
                        <li class="ul-menu-li" [id]="coreConstant.Rutas.reporteAportes"
                            ><a (click)="navigateTo(coreConstant.Rutas.reporteAportes)">- Reporte de aportes</a></li>

                        <!-- Descomentar las líneas de código de abajo, para habiliatar de opción de ver los pagos de "Pago Facil"  -->
                        <!-- 
                            <li class="ul-menu-li" [id]="coreConstant.Rutas.pagoFacil">
                            <a (click)="navigateTo(coreConstant.Rutas.pagoFacil)">- Aportes facultativos</a></li> 
                        -->
                    </ul>
                </div>
            </div>
        </div>
        <section class="main">
            <router-outlet></router-outlet>
        </section>
    </section>
</section>
<app-footer ></app-footer>
